.game {
  font-family:"Helvetica", sans-serif;
}

.game-name {
  font-size: xx-large;
  margin:20px;
}

.game-main {
  display:inline-block;
  width:100%;
}

.infobox {
  width:30%;
  display:inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size:larger;
}

.infobox-button {
  display:block;
  margin-top:10px;
  font-size:large;
  border-radius:5px;
}

.board {
  /* width:70%; */
  display:inline-block;
}

.board-row {
  margin:0px;
  padding:0px;
  border-width:0px;
  display:flex;
  height:10px;
}

.board-square {
  margin:0px;
  border-width: 0px;
  width:10px;
  height:100%;
}

.board-square.red {
  background-color: #fc0f03;
}

.board-square.blue {
  background-color: #354bdb;
}

.board-square.yellow {
  background-color: #e8e517;
}

.board-square.green {
  background-color: #258011;
}

.board-square.purple {
  background-color: #a315eb;
}

.board-square.black {
  background-color: #000000;
}

/* ban the button highlighting */

button:focus, input[type="button"]:focus, button:active, input[type="button"]:active {
  outline: none;
}
